{% load static %}
<!-- FOOTER -->
<footer id="footer" class="section section-grey" style="background-color: #25262b; color: aliceblue;"   >
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="/">
                            <img src="{% static '/img/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Book, Electronic and Clothes</p>

                    <!-- footer social -->
                    <ul class="footer-social" >
                        <li><a style="color: #fff;" href="https://www.facebook.com/longvodoi.nguyenhuu" target="_blank"><i  class="fa fa-facebook"></i></a></li>
                        <li><a style="color: #fff;" href="https://twitter.com/HajimeKindaich5" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a style="color: #fff;" href="https://www.instagram.com/longcon99/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a style="color: #fff;" href="mailto:longcon9999@gmail.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a style="color: #fff;" href="https://www.pinterest.com/kindaichideal/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header" style="color:#fff">My Account</h3>
                    {% if user.id %}
                    <ul class="list-links">
                        {% if user.is_staff is True %}
                            <li><a style="color:#fff" href="{% url 'user_index' %}">My Account</a></li>
                            <li><a style="color:#fff" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li><a style="color:#fff" href="{% url 'user_index' %}">My Account</a></li>
                            <li><a style="color:#fff" href="{% url 'shopcart' %}">Cart</a></li>
                            <li><a style="color:#fff" href="{% url 'user_orders' %}">My Orders</a></li>
                            <li><a style="color:#fff" href="{% url 'user_comments' %}">My Comments</a></li>
                            <li><a style="color:#fff" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <ul class="list-links">         
                        <li><a style="color:#fff" href="{% url 'login' %}">Login</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer" >
                    <h3 class="footer-header" style="color:#fff">Customer Service</h3>
                    <ul class="list-links" >
                        <li><a style="color:#fff" href="{% url 'contactus' %}">Contact Us</a></li>
                        <li><a style="color:#fff" href="#">Shiping & Return</a></li>
                        <li><a style="color:#fff" href="#">Shiping Guide</a></li>
                        <li><a style="color:#fff" href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Join with us now.</p>
                    <form action="/signup" method="GET">
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address" name="register_email">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p style="text-align: center"> Copyright &copy; <script>document.write(new Date().getFullYear())</script> Katy Craft All Rights Reserved</p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->

<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/nouislider.min.js"></script>
<script src="{% static '' %}js/jquery.zoom.min.js"></script>
<script src="{% static '' %}js/main.js"></script>