{% load static %}
<!-- HOME -->
<div id="home">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <a href="{% url 'shoppage' %}">
                    <img src="{% static 'img/1.jpg' %}" alt="" style="height: 600px"></a>
                </div>
                <div class="banner banner-1">
                    <img src="{% static 'img/bookspotlight.jpg' %}" alt="" style="height: 600px">
                </div>
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
</div>
<!-- /HOME -->